<section class="content" id="content">
    <div class="container">
      <div class="starter-template">
        <h1>Publications</h1>
        <p>Howard, K.M., Reynolds, R., & Deák, J. (2009). Who Studies Language and Why?: A Cross-Language Survey of First-Year College-Level Language Learners. Journal of the National Council of Less Commonly Taught Languages 7, 1-44</p>
        <br>
        <p>Reynolds, R., Howard, K.M., & Deák, J. (2009). Heritage Language Learners at Two American Universities: General Data across Learner Sub-Types. Foreign Language Annals 42(2). 250-269</p>
        <br>
        <p>Deák, J. (2008). Review of ‘Hungarian language contact outside Hungary: Studies on Hungarian as a minority language’ by A. Fenyvesi, (Ed.). Language in Society 37(1). 151-152</p>
        <br>
        <p>Deák, J. (2007). African-American Language and American Linguistic Cultures:
        An Analysis of Language Policies in Education. Working Papers in Educational Linguistics 22(1). 105-135</p>
        <br>
        <p>Deák, J. (2007). Review of ‘The sociology of African American Language: A language planning perspective’ by C. DeBose. Current Issues in Language Planning 8(1). 106-108</p>
        <br>
        <p>Deák, J. (2007). Review of ‘The talking ape: How language evolved’ by R. Burling. Language in Society 36(1). 139-140</p>
        <br>
        <p>Deák, J. (2007). Review of ‘Language Attrition: Theoretical Perspectives’ by Köpke, B., Schmid, M. S., Keijzer, M., and Doster, S. (Eds.). Linguist List 19.1857. Retrievable at http://linguistlist.org/issues/19/19-1857.html.</p>
      </div>
    </div>
</section>
