<section class="content" id="content">
    <div class="container">
      <div class="starter-template">
        <h1>Group & Committee Memberships</h1>
        <p>WAESOL (current)</p>
        <p>TESOL (current)</p>
        <p>American Council on the Teaching of Foreign Languages (former)</p>
        <p>American Association for Applied Linguistics (former)</p>
        <p>Linguistic Society of America (former)</p>
        <p>Member, Ad Hoc Grammer Comittee, 2012
          <br><strong>University of Washington, International English Language Programs</strong>
        </p>
        <p>Member Orientation Committee, 2007
          <br><strong>University of Pennsylvania, Graduate School of Education</strong>
        </p>
        <p>Member, Commencement Committee, 2006
          <br><strong>University of Pennsylvania, Graduate School of Education</strong>
        </p>
        <p>Member, Penn Working Group in Language, 2004-2005e</p>

      </div>
    </div>
</section>
